PORT=#{ BACKEND PORT }
MEDDRA_API_KEY=#{ API_TOKEN_KEY }
MEDDRA_USER=#{ MEDDRA_USER }
MEDDRA_PASSWORD=#{ MEDDRA_PASSWORD }
MEDDRA_SCOPE=#{ MEDDRA_SCOPE }
MED_CLIENT_ID=#{ MED_CLIENT_ID }
MED_TOKEN_URL=#{ MED_TOKEN_URL }
MED_CLIENT_SECRET=#{ MED_CLIENT_SECRET }

# example values
#PORT=3000
#MEDDRA_API_KEY=1234567890abcdef1234567890abcdef1234567890abcdef1234567890abcdef
#MEDDRA_USER=123456
#MEDDRA_PASSWORD=123456Pass
#MEDDRA_SCOPE=meddraapi
#MED_CLIENT_ID=mspclient
#MED_TOKEN_URL=https://mid.meddra.org/connect/token
#MED_CLIENT_SECRET=123